<widget-modal widget-modal-title="Configure TestRail Widget">
<!-- {{catalystRepoConfig.catalystprojects}} -->
    <form class="projectversion-config" name="configForm" ng-submit="TestRailConfig.submit(configForm.$valid)" novalidate="novalidate">
        <form-group input="TestRailConfigProjects" errors="{required:'Please select all fields'}">
           
             <div class="dash-modal-row clearfix">
                    <label>Project:</label>

                     <select name="selectprojects"
                            class="form-control"
                            ng-model="TestRailConfig.selectedProject"
                            ng-options="obj.name for obj in TestRailConfig.testrailprojects track by obj.value" 
                            ng-change="TestRailConfig.projectChange(TestRailConfig,TestRailConfig.selectedProject);"
                            required>
                        <option value="">Select a Project</option>
                    </select>
                </div>  
         </form-group>
         <form-group input="TestRailConfigMilestones" errors="{required:'Please select all fields'}">
                <div class="dash-modal-row clearfix">
                    <label>Milestone:</label>

                     <select name="selectmilestone"
                            class="form-control"
                            ng-model="TestRailConfig.selectedMilestone"
                            ng-options="obj.name for obj in TestRailConfig.testrailmilestones track by obj.value"
                            
                            required>
                        <option value="">Select a Milestone</option>
                    </select>
                </div>
        </form-group>

        <hr/>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal>
