<div ng-controller="CapOneTemplateController as template">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <!-- <a ng-href="#/" class="dashboard-logo"></a> -->
                <a ng-href="#/" class="pull-left" title="Home"><i aria-hidden="true" class="fa fa-home"></i></a>
                {{::ctrl.dashboard.title}}

                <div class="pipeline-toggle btn-group"

                     ng-show="template.hasComponents(ctrl.dashboard, ['Deployment'])">

                    <span class="btn" ng-repeat="tab in template.tabs" ng-click="template.toggleView($index)"
                          ng-class="tab.name == template.widgetView ? 'btn-primary' : 'btn-default'">
                        <span ng-class="tab.name === 'Widget' ? 'fa fa-th' : tab.name === 'Pipeline' "></span>
                        <!-- Removed from tabs - ? 'fa fa-task' : 'fa fa-cloud' - -->
                        {{tab.name}}
                    </span>

                </div>
            </div>
        </nav>
    </div>

    <div class="dashboard-widgets container-fluid"  style="height:1500px" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Widget'">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12">

                        <widget name="projectversion" widget-title="Project"></widget>
                        <widget name="repo"></widget>
                    </div>
                </div>
                <!--</div>-->
            </div>

            <div class="col-md-4">
                <widget name="build"></widget>
                <widget name="codeanalysis"></widget>
            </div>

            <div class="col-md-4">

                <div class="row margin-deploy">
                   
                   <!-- <div class="col-sm-6 col-md-12">
                        <widget name="catalystdeploy"></widget>
                    </div> -->

                    
                    <!--<div class="col-sm-6 col-md-12">
                        <widget name="deploy"></widget>
                    </div>-->

                    <!-- <div class="col-sm-6 col-md-12">
                        <widget name="functional"></widget>
                    </div> -->

                    <div class="col-sm-6 col-md-12">
                        <!-- <widget name="functional"></widget> -->
                        <widget name="chef"></widget>
                        <widget name="Testrail"></widget>
<div class="col-sm-6 col-md-12">
		<!--<widget name="catalystdeploy"></widget>-->
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Pipeline'">
        <div class="row">
            <div class="col-xs-12">
                <widget name="pipeline" widget-title="Delivery Pipeline"></widget>
            </div>
        </div>
    </div>


    <div class="container-fluid" widget-container dashboard="ctrl.dashboard" ng-if="template.widgetView == 'Cloud'">
        <div class="row">
            <div class="col-xs-12">
                <widget name="cloud" widget-title="Cloud"></widget>
            </div>
        </div>
    </div>


</div>
